.panel {
  & .content {
    padding: 12px;
    & .title {
      font-weight: bold;
      color: #444;
      margin: 0 0 6px 0;
    }
    & .body {
      & .hint {
        border-left: solid 2px lightslategrey;
        color: lightslategrey;
        padding: 6px 0 6px 24px;
        margin: 12px 0;
      }
    }
  }
}